.navbar-color{
    color:white !important
}

.navbar-position{
    justify-content: flex-start !important;
}

.marginAuto{
    margin: auto !important;
}
.header-reg-form{
    font-size: 1.2rem !important;
    line-height: 1 !important;
}
.form-border{
    border:1px solid #dc3545;
}
.row-margin-top{
    margin-top: 1.5rem;
}
.login-form-border{
    border:1px solid #17a2b8;
}

.col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding-zero{
    padding:0;
}

.margin-bottom-10{
    margin-bottom: 10px
}

input.ng-dirty.ng-invalid {
    border:1px solid red;
}