<!-- <nav class="navbar navbar-position bg-dark">

    <div class="row col-sm-12 text-white padding-zero">
        <div class="row col-sm-8">
            <div class="col-sm-2">
                <a class="navbar-brand navbar-color" ui-sref="app.home">School</a>
            </div>
            <div class="nav-item">
                <a class="nav-link navbar-color active" href="#home">Home <span class="sr-only">(current)</span></a>
            </div>
            <div class="nav-item">
                <a class="nav-link navbar-color" href="#profile">Profile <span class="sr-only">(current)</span></a>
            </div>
        </div>
        <div class="col-sm-4 text-right col-center padding-zero">
            <div>
                <span title="logout" ng-click="vm.logout()"><i class="fa fa-power-off"></i></span>&nbsp;&nbsp;
                <span><i class="fa fa-user"></i> Hi, <span change-detect="user.username"></span></span>
            </div>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
    <a class="navbar-brand" href="#home">School</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#profile">Profile</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                        <span><i class="fa fa-user"></i> Hi, <span change-detect="user.username"></span></span>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split dropdown-menu-right" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">
                                <i class="fa fa-user"></i> Hi, <span change-detect="user.username"></span>
                          </span>
                        </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                            <i class="fa fa-power-off"></i> Logout
                    </a>
                </div>
            </div>
        </form>
    </div>
</nav>